@use './partials/variables' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: $colorDrak;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: $colorWhite $colorDrak;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: $colorDrak;
}

*::-webkit-scrollbar-thumb {
    background-color: $colorWhite;
    border-radius: 10px;
    border: 3px solid $colorDrak;
}